<h1>Hello World!</h1>
<p>I'm Wilson Wang!</p>
<p>I was born and raised here in the bay area, making UC Berkeley my dream school ever since I was a kid.</p>
<p>Cool fact: I am a black belt in martial arts, and I’ve taught kids self-defense for ten years. Martial arts is a great passion of mine.</p>
<p>I'm looking forward to making some cool websites, especially chat platforms!!</p>